@using EntityLayer.Concrete
@model List<Worker>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}

<body>
    <div class="jumbotron">
        <div class="riglt-floats-xs">
                <a>Hoş Geldiniz. Sol Taraftan Hemen Toplantı Başlat veya Toplantıya Katıl.</a>
        </div>
    </div>
</body>
