@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIDEO ILKER</h1>
    <br />
    <p class="lead">Hoş Geldiniz :) Lütfen Kullanıcı Türünü Seçiniz!</p>
    <br />
    <a href="/Login/ManagerLogin/" class="btn btn-success btn-lg">Yönetici &raquo;</a>
    <a href="/Login/WorkerLogin/" class="btn btn-primary btn-lg">Çalışan &raquo;</a>
    <a href="/Login/UserLogin/" class="btn btn-warning btn-lg">Kullanıcı &raquo;</a>
</div>