@using EntityLayer.Concrete
@model List<User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<body>
    <div class="jumbotron">
        @foreach (var item in Model)
        {
            <div class="riglt-floats-xs">
                <a>Hoş Geldin @item.UserName. İş Görüşmesinde Başarılar :)</a>
            </div>
        }
    </div>
</body>


